#header{
    background-color: rgb(118, 47, 3);
    height: 300px;
    width: 100%;
    
}

#header h1{
    text-align: center;
    padding: 150px 0px;
}


#content{
    background-color: rgba(237, 136, 70, 0.986);
    height: 300px;
    width: 100%;
}

#content ul{
    display: inline;
}

.content-navbar li a{
    color: green;
    text-decoration: none;
    font-size: 20px;
}

.content-navbar li{
    display: inline;
    padding: 5px 100px;
}

.content-navbar h3{
    color: rgb(118, 47, 3);
}